@import url("https://fonts.googleapis.com/css?family=Francois+One|Markazi+Text|Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@media (min-width: 991px) {
  body {
    margin: auto;
  }

  .logotype {
    height: 100px;
    display: flex;
    float: right;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 7px;
    top: 1px;
  }

  .clock {
    display: flex;
    font-family: "Francois One", sans-serif;
    font-size: 30px;
    color: #e67e00;
    justify-content: center;
    position: absolute;
    top: 90px;
    right: 20px;
  }

  nav {
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    height: 100px;
  }

  header h1 {
    font-family: "Righteous", cursive;
    text-align: center;
    margin: 1rem;
    font-size: 50px;
  }

  header p {
    font-family: "Francois One", sans-serif;
    text-align: center;
    font-size: 30px;
  }

  .formdirection {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: "Francois One", sans-serif;
    text-align: center;
  }
  .formposition {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    background-color: #e67e00;
    border-width: 0.5px;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Francois One", sans-serif;
    border-color: black;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Francois One", sans-serif;
    font-size: 12px;
    margin: 3rem;
  }
}
@media (max-width: 990px) {
  body {
    margin: auto;
  }
  .logotype {
    height: 80px;
    display: flex;
    float: right;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 20px;
    top: 7px;
  }

  .clock {
    display: flex;
    font-family: "Francois One", sans-serif;
    font-size: 20px;
    color: #e67e00;
    justify-content: center;
    position: absolute;
    top: 75px;
    right: 35px;
  }

  nav {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    height: 100px;
  }

  header h1 {
    font-family: "Righteous", cursive;
    text-align: center;
    margin: 1rem;
    font-size: 35px;
  }

  header p {
    font-family: "Francois One", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }
  .formdirection {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: "Francois One", sans-serif;
    text-align: center;
  }
  .formposition {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    background-color: #e67e00;
    border-width: 0.5px;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Francois One", sans-serif;
    border-color: black;
    margin: 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Francois One", sans-serif;
    font-size: 12px;
    margin: 3rem;
  }
}
